* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #00050d;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding: 1rem 5rem;
  height: 7vh;
  align-items: center;
}

.logo {
  height: 1vw;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1vw;
}

.nav-left,
.nav-right {
  display: flex;
  list-style: none;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.grid-svg {
  height: 3vh;
}

.user-svg {
  height: 2vw;
}

.nav-btn {
  background-color: #157bcf;
  width: 6vw;
  border: none;
  height: 5vh;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: rgba(24, 162, 255, 0.253) 0px 5px 15px;
  font-weight: bold;
}

.nav-svg {
  filter: invert(1);
}

nav li:hover {
  background-color: white;
  /* border: none; */
  border-radius: 5px;
  height: 3vh;
  box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}

nav li a:hover {
  color: black;
}

.dropdown {
  position: relative;
}

.language {
  display: none;
  position: absolute;
  column-count: 5;
  column-gap: 50px;
  top: 100%;
  right: 0;
  min-width: 600px;
  background-color: rgba(0, 0, 0, 0.18);
  backdrop-filter: blur(10px);
  margin-top: 1rem;
}

.dropdown:hover .language {
  display: block;
}

.language a {
  text-decoration: none;
}

#hero {
  background-image: url(./asset/wrecking\ crew.webp);
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
}

.movie-name {
  height: 30vh;
  width: 15vw;
  margin-top: 8rem;
}

.rank {
  color: #35ea9f;
  font-size: 1rem;
  position: relative;
}

.movie-description {
  font-size: 1.5rem;
  font-weight: bold;
  display: none;
  position: relative;
}

.info:hover .movie-description {
  display: block;
  position: absolute;
}

.hero-btn {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.prime-btn {
  height: 6vh;
  width: 6vw;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.651);
  opacity: 0.8;
  color: white;
}

.circle-btn {
  height: 6vh;
  width: 3vw;
  font-size: 1rem;
  background-color: rgba(128, 128, 128, 0.651);
  opacity: 0.8;
  color: white;
  border-radius: 50%;
  border: none;
}

.bag {
  color: gold;
}

.movies {
  display: flex;
  flex-direction: column;
  padding: 1rem 4rem;
  gap: 1rem;
}

.title {
  display: flex;
  gap: 2rem;
}
.movie-card-list {
  display: flex;
  gap: 4rem;
}

.movie-details {
  display: flex;
  flex-direction: column;
  background-color: #00050d;
  width: 20vw;
  border-radius: 10px;
  /* position: relative; */
  transition: all 1s;
}

.movie-poster img {
  height: 25vh;
  width: 20vw;
  border-radius: 10px;
}

.movie-info {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 1rem;
  display: none;
  position: relative;
  width: 20vw;
  background-color: black;
  transition: all 1s;
  border-radius: 10px;
}

.movie-details:hover {
  transform: scale(1.1);
}

.movie-details:hover .movie-info {
  display: block;
  position: absolute;
  z-index: 1;
}
