/* universal selector */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: black; */
}

.box {
  border: 2px solid black;
}

.big {
  height: 150px;
  width: 150px;
}

.small {
  height: 75px;
  width: 75px;
}

/* class selector */

.parent {
  height: 200px;
  width: 200px;
  border: 2px dashed black;
}

.parent p {
  color: brown;
}

/* tag selector */

div {
  color: cadetblue;
}

/* descendant selector */

div > p {
  color: yellowgreen;
}

/* group selector */

div,
p {
  color: steelblue;
}

/* pseudo elements */

#h5::first-letter {
  font-size: 50px;
  color: red;
}

.para::first-line {
  font-family: cursive;
  font-size: 20px;
  color: slategray;
}

/* pseudo classes */

ul li:first-child {
  font-family: fantasy;
  font-size: 30px;
}

ul li:last-child {
  font-family: serif;
  color: cornflowerblue;
  font-size: 50px;
}

ul li:nth-child(4) {
  font-size: 30px;
  color: violet;
}

ul li:nth-last-child(2) {
  color: aqua;
  font-size: larger;
}

h3::selection {
  color: chartreuse;
}
