* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 800px;
  /* width: 900px; */
  margin: auto;
  margin-top: 100px;
  border: 2px solid black;
  display: flex;

  /* flex-direction: row; */
  /* flex-wrap: wrap-reverse; */

  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.box {
  width: 90px;
  border: 1px dashed grey;
}
