* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#home {
  height: 800px;
  border: 2px solid red;
}

.image {
  background: url("../asset/pexels-pixabay-355465.jpg");
  height: 1000px;
  background-attachment: fixed;
  background-size: cover;
}

#footer {
  height: 800px;
  border: 2px solid red;
}
