:root {
  --HeadingColor: #ffffff;
  --ParaColor: #f1f5f9;
  --LinkColor: #00f2fe --button: linear-gradient(135deg, #00f2fe, #4facfe);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(
    90deg,
    rgba(75, 108, 183, 1) 11.3%,
    rgba(24, 40, 72, 1) 99.3%
  ); */

  background: linear-gradient(135deg, #6a11cb, #2575fc);

  color: white;
  font-family: "Open Sans", sans-serif;
}

nav {
  display: none;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 3rem;
  flex-direction: column;
  gap: 2rem;
}

.para {
  margin-left: 10px;
}
.section-heading {
  text-align: center;
  color: var(--HeadingColor);
}

#About {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.about-left img {
  height: 60vh;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.about-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-right p {
  color: var(--ParaColor);
}

#service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.service-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 90%;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 20px;
}

.card img {
 height: 25vh;
 width: 90%;
 border-radius: 20px;
}
