:root {
  --primary: #6366f1;
  --secondary: #22d3ee;
  --dark: #0f172a;
  --card: #1e293b;
  --text: #f8fafc;
  --muted: #cbd5f5;
  --gradient: linear-gradient(135deg, #6366f1, #22d3ee);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #0f172a, #1e293b);

  color: white;
  font-family: "Open Sans", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  /* padding: 1rem; */
  height: 5vh;
  background-color: var(--dark);
  border: 1px solid var(--card);

  border-radius: 5px;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.logo {
  color: var(--secondary);
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 3rem;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.btn {
  height: 5vh;
  width: 30vw;
  border: none;
  border-radius: 10px;
  background: var(--gradient);
  color: var(--text);
  font-size: 15px;
  margin-bottom: 1rem;
}

.para {
  color: var(--muted);
}

.section-heading {
  text-align: center;
  color: var(--HeadingColor);
}

#About {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.about-left img {
  height: 50vh;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.about-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.about-right p {
  color: var(--muted);
}

#service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.service-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  text-align: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* width: 90%; */
  flex-direction: column;
  /* border: 1px solid black; */
  border-radius: 20px;
  background-color: var(--card);
  width: 350px;
  border: 1px solid var(--dark);
}

.card h2 {
  color: var(--secondary);
}

.card p {
  color: var(--muted);
}

.card img {
  height: 25vh;
  width: 100%;
  border-radius: 20px;
}

.contact {
  height: 40px;
  width: 80px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.contact-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}

.contact-shape {
  display: flex;
  gap: 2rem;
  border: 1px solid var(--dark);
  background: var(--card);
  height: 8vh;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
  width: 70vw;
  color: var(--HeadingColor);
}

.contact-shape p {
  color: var(--muted);
}

.icon {
  font-size: 40px;
  color: var(--secondary);
}

.social {
  color: var(--text);
}

.social:hover {
  color: var(--secondary);
}

.location p {
  font-size: 30px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contact-right {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.form {
  border: 1px solid var(--dark);
  background: var(--card);
  display: flex;
  width: 400px;
  flex-direction: column;
  padding: 1rem;
  border-radius: 20px;
}

.label {
  font-size: 1.5rem;
  color: var(--secondary);
}

.input {
  height: 5vh;
  /* width: 30vw; */
  border: none;
  border-radius: 20px;
  margin-bottom: 10px;
}

textarea {
  border-radius: 20px;
}

.send {
  margin: 10px;
  height: 5vh;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  background: var(--gradient);
  color: var(--text);
}

@media (min-width: 576px) {
  .about-left img {
    height: 60vh;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
  }
  .about-right {
    padding: 4rem;
  }
  .card {
    width: 400px;
  }
}

@media (min-width: 768px) {
  .card img {
    height: 30vh;
  }
}

@media (min-width: 992px) {
  #About {
    flex-direction: row;
  }

  .about-left img {
    height: 70vh;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
  }
  .about-right {
    justify-content: start;
    align-items: start;
  }

  .about-right p {
    font-size: 22px;
  }
  #service {
    flex-direction: row;
  }

  .card {
    width: 300px;
  }

  .btn {
    width: 120px;
  }
  .contact-container {
    flex-direction: row;
    gap: 1rem;
  }

  .contact-left {
    justify-content: start;
    align-items: start;
  }
  .contact-shape {
    width: 30vw;
  }
}

@media (min-width: 1200px) {
  .content h1 {
    font-size: 4rem;
  }
  .para {
    font-size: 20px;
  }

  #About {
    justify-content: start;
    align-items: start;
    padding: 2rem 15rem;
  }

  .about-left img {
    height: 65vh;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
  }
  .about-right {
    justify-content: start;
    align-items: start;
  }

  .about-right p {
    font-size: 32px;
  }
  #service {
    flex-direction: row;
  }

  .card {
    width: 400px;
  }

  .contact-container {
    flex-direction: row;
    gap: 1rem;
    padding: 2rem 18rem;
    justify-content: space-evenly;
    align-items: start;
  }

  .contact-left {
    justify-content: start;
    align-items: start;
    gap: 2rem;
  }
  .social {
    margin-top: 1rem;
  }
  .contact-shape {
    width: 20vw;
  }

  .form {
    width: 25vw;
  }
}
