:root {
  --HeadingColor: #ffffff;
  --ParaColor: #f1f5f9;
  --LinkColor: #00f2fe --button: linear-gradient(135deg, #00f2fe, #4facfe);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(
    90deg,
    rgba(75, 108, 183, 1) 11.3%,
    rgba(24, 40, 72, 1) 99.3%
  ); */

  background: linear-gradient(135deg, #6a11cb, #2575fc);

  color: white;
  font-family: "Open Sans", sans-serif;
}

nav {
display: flex;
justify-content: space-around;
/* padding: 1rem; */
height: 5vh;
/* background-color:#2575fc; */
border: 1px solid black;
border-radius:5px;
align-items: center;
}

nav ul{
  display: flex;
  gap: 1rem;
  list-style: none;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 3rem;
  flex-direction: column;
  gap: 2rem;
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.btn{
  height: 5vh;
  width: 30vw;
  border: none;
  border-radius: 10px;
}



.section-heading {
  text-align: center;
  color: var(--HeadingColor);
}

#About {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.about-left img {
  height: 60vh;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.about-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-right p {
  color: var(--ParaColor);
}

#service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.service-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  text-align: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* width: 90%; */
  flex-direction: column;
  border: 1px solid black;
  border-radius: 20px;
}

.card img {
  height: 25vh;
  width: 100%;
  border-radius: 20px;
}

.contact {
  height: 40px;
  width: 80px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.contact-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}

.contact-shape {
  display: flex;
  gap: 2rem;
  border: 1px solid black;
  height: 8vh;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
  width: 80vw;
  color: var(--HeadingColor);
}

.icon {
  font-size: 40px;
}

.location p {
  font-size: 30px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contact-right {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.form {
  border: 1px solid black;
  display: flex;
  width: 400px;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
}

.label {
  font-size: 1.5rem;
}

.input {
  height: 5vh;
  /* width: 30vw; */
  border: none;
  border-radius: 20px;
  margin-bottom: 10px;
}

textarea{
  border-radius: 20px;
}


.send{
  margin:10px;
  height: 5vh;
  border: none;
  border-radius: 20px;
  font-size: 20px;
}