* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* css image */

.background {

  background-image: url("./asset/pexels-alex-amorales-321095-909907.jpg");

  background-image: url("https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg");

  height: 800px;
  width: 800px;
  background-repeat: no-repeat;
  /* background-position: right; */
  background-size: cover;
}


/* html image */
/* .background {
    height: 500px;
    width: 500px;
    object-fit:cover;
} */
