* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 2px solid black;
  margin: auto;
  height: 900px;
  width: 900px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.box {
  border: 1px solid black;
  text-align: center;
  padding: 20px;
  font-size: 40px;
}

#box-1 {
  background-color: cornflowerblue;
  grid-column: 1/-1;
}

#box-2{
    background-color: yellowgreen;
    grid-row: 2/4;
}

#box-3{
    background-color: brown;
    grid-area: 2/2/4/4;
}
#box-4{
    grid-row: 2/4;
    background-color: turquoise;
}

#box-5{
    grid-column:1/3;
    background-color: crimson;
}
#box-6{
    grid-column:3/5;
    background-color:thistle;
}

#box-7{
    grid-column:1/-1;
    background-color:steelblue;
}