* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 900px;
  width: 900px;
  border: 2px solid black;
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-areas:
    "hdr hdr hdr hdr"
    "sbr main main main"
    "sbr main main main"
    "ftr ftr ftr ftr";
}

.box {
  border: 1px solid black;
  padding: 20px;
}

#box-1 {
  background-color: darkslateblue;
  grid-area: hdr;
}
#box-2{
    background-color: springgreen;
    grid-area: sbr;
}

#box-3{
    background-color: sienna;
    grid-area: main;
}

#box-4{
    background-color:paleturquoise ;
    grid-area: ftr;
}