* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 900px;
  width: 900px;
  margin: auto;
  border: 2px solid black;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.box {
  border: 1px solid black;
  padding: 10px;
}

#box-1 {
  background-color: aquamarine;
  grid-column-start: 1;
  /* grid-column-end: span 2; */
  grid-column-end: -1;
}

#box-2 {
  background-color: blueviolet;
  grid-row: 2/5;
}

#box-3 {
  background-color: brown;
  grid-column: 2/-1;
}

#box-4 {
  background-color: cadetblue;
}

#box-5 {
  background-color: yellowgreen;
}

#box-6 {
  grid-column: 2/4;
  background-color: cornflowerblue;
}

#box-7 {
  background-color: darkgray;
  grid-column: 1/-1;
  /* grid-area: 1/1/-1/-1; */
}
