* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 1000px;
  width: 1000px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 2px solid black;
  display: grid;
  /* grid-template-columns: 100px 100px 100px; */
  /* grid-template-columns: auto auto auto; */
  /* grid-template-columns: 1fr 1fr 5fr; */
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  /* row-gap: 10px;
  column-gap: 10px; */

  /* grid-template-rows: 100px 200px 400px; */

  /* justify-content: center; */
  /* align-content: center; */
}

.box {
  border: 1px solid black;
}

/* 
#box-5{
  justify-self: center;
  align-self: center;
} */
