* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 500px;
  width: 500px;
  border: 2px solid black;
  margin: auto;
  margin-top: 100px;
}

.box {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  background-color: teal;
  transition: 1s ease-in-out;
  animation-name: around;
  animation-duration: 4s;
  animation-delay: 1s;
  /* animation-iteration-count: infinite; */
  animation-direction: alternate;
  /* animation-fill-mode:backwards; */
}

@keyframes around {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(300px, 0);
  }
  50% {
    transform: translate(300px, 300px);
  }
  75% {
    transform: translate(0, 300px);
  }
}

.circle {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  margin: auto;
  margin-top: 50px;
  animation-name: circle;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes circle {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  height: 50px;
  width: 100px;
  margin-left: 500px;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  animation-name: btnAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes btnAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
    box-shadow: rgba(255, 0, 0, 0.35) 0px 5px 15px;
  }
}

.container1 {
  height: 500px;
  width: 500px;
  margin: auto;
  border: 2px solid black;
  margin-top: 200px;
  margin-bottom: 100px;
  border-radius: 50%;
  animation-name: container1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  background-color: orange;
}

@keyframes container1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.box1 {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: rgb(112, 112, 255);
}
